<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
		<link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon"/>
		<link rel="stylesheet" href="static/css/lightbox.css" type="text/css" media="screen"/>
		<script type="text/javascript" src="static/js/prototype.js"></script>
		<script type="text/javascript" src="static/js/photochecklist.js"></script>
		<script type="text/javascript" src="static/js/scriptaculous.js?load=effects,builder"></script>
		<script type="text/javascript" src="static/js/lightbox.js"></script>
	</head>
	<body>
		<h1>{{ self.title() }}</h1>
		<div id="content">{% block content %}{% endblock %}</div>
	</body>
</html>
