{% extends "base.html" %}
{% block title %}{{ checklist.title }}{% endblock %}
{% block content %}
<ul id="checklist">
	{% for item in checklist.items %}
	<li class="{{ 'done' if item.has_images() else 'todo' }}">
		<a href="javascript:void" class="itemtitle">{{ item }}</a>
		{% if item.has_images() %}
		<ul>
			{% set image_set = loop.index %}
			{% for image in item.get_images() %}
			<li>
				<a href="{{ image.get_big_image() }}"
					rel="lightbox[set{{ image_set }}]" title="{{ item }}">
					<img src="{{ image.get_small_image() }}"/>
				</a>
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</li>
	{% endfor %}
</ul>
{% endblock %}
